body {
    font-family: "Arial", sans-serif;
    text-align: center;
    background: url('https://images.rawpixel.com/image_1300/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3B4MTM2NjcxMC1pbWFnZS1rd3Z4eGVxcC5qcGc.jpg'); /* Replace with your galaxy/universe background image */
    background-size: cover;
    color: white;
}

hr {
    width: 500px;
    background: rgba(255, 255, 255, 0.5);
}

#errors {
    color: coral;
}

#board {
    width: 450px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.7);
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.tile {
    width: 48px;
    height: 48px;
    border: 1px solid white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

#digits {
    width: 450px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.7);
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

h3 {
    font-size: larger;
    font-family: "Arial", sans-serif;
    color: rgb(55, 102, 231);
}

.number {
    width: 44px;
    height: 44px;
    border: 1px solid white;
    margin: 2px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

.number-selected {
    background-color: rgba(255, 255, 255, 0.2);
}

.tile-start {
    background-color: rgba(0, 0, 0, 0.5);
}

.horizontal-line {
    border-bottom: 1px solid white;
}

.vertical-line {
    border-right: 1px solid white;
}

.tabs {
  display: flex;
  list-style: none;
  column-gap: 10px;
  margin:0;
}

.tab, .dropbtn {
  margin: 10px;
  cursor: pointer;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* styles.css */



.tab-icon {
  margin: auto;
  margin-right: 10px;
  cursor: pointer;
}

.nav {
  font-size: 20px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  background-color: #113;
  color: white;
  z-index: 700;
}

.tabs {
    display: flex;
    list-style: none;
    column-gap: 10px;
    margin:0;
  }
  
  .tab, .dropbtn {
    margin: 10px;
    cursor: pointer;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  
  /* styles.css */
  
  
  
  .tab-icon {
    margin: auto;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .nav {
    font-size: 20px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    background-color: #113;
    color: white;
    z-index: 700;
  }
  
  
  
  
  #company-name {
    font: 14;
  }
  
  #logo {
      padding-left: 1%;
  }
  
  .back-video {
    width: 100vw;
    height: 200vh;
    object-fit: top;
    position: fixed;
    z-index: 100;
  }
  
  
  
  
  
  .open-tab{
      display:none;
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar li:hover, .dropdown:hover .dropbtn {
    opacity: 0.5;
  }
  
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    box-shadow: 0px 8px 40px 0px rgba(0,0,0,0.2);
    z-index: 90;
    overflow: hidden;
  }
  
